<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

	<title>{{ site.name }}</title>
	<link rel="stylesheet" href="assets/style.css">

	{% seo %}
</head>
<body>
	<nav>
		<div>
			<a href="/" class="ILL-DO-THE-LOGO">homescreens</a>
			<a href="/about/">about</a>
			<a href="/wiki/irc.html">irc</a>
			<a href="/wiki/">wiki</a>
		</div>
	</nav>

	<header>
		<div>
			<h1>{{ page.title }}</h1>
			{% if page.description %}<h3>{{ page.description }}</h3>{% endif %}
		</div>
	</header>

	<main id="content">
		<div>
			<p>Warning: wiki has been taken over by adrift. Check <a href="https://homescreens.org/wiki/">homescreens.org/wiki</a></p>
		</div>
		<div>
			{{ content }}
		</div>
	</main>

</body>
</html>
